// variables
$white: #fff;
$primary: #000411;
$secondary:  #393F44;
$black: #000;
$success: #EFCB68;
$warning: #AEB7B3;
$info: #E1EFE6;
$carousel-caption-width: 100%;
$carousel-control-opacity: 0.6;


// $sizes: (70 : 70%,);

$spacer: 1rem;
$spacers: (6: ($spacer * 6),
7: ($spacer * 12));


$navbar-light-active-color: $black;
$navbar-light-hover-color: $primary;

// Fonts

$font-weight-normal: 400;
$font-size-base: 1rem;
$font-weight-base: $font-weight-normal;
$h1-font-size: $font-size-base * 2.5;
$font-family-sans-serif: 'Quicksand', sans-serif;
$font-family-base: $font-family-sans-serif;
$font-weight-bold: 800;



//end of variables





