// variables
$black: #000;
$primary: blue;
$secondary : green;


$spacer: 1rem;
$spacers: (
    6: ($spacer * 7),
    );

$sizes: (
    70 : 70%,
);


$navbar-light-active-color:  $black;
$navbar-light-hover-color:  $primary;


//end of variables

.heroimg {
    background: url(/web/images/Photo.png) no-repeat center left;
    background-size: cover;   
}

.active {
    border-bottom: solid 2px $primary;
    padding-bottom: 5px;
}

.card{
    margin-left: -15%;
}

.spacer {
    background: $black;
    width: 5%;
    height: 3px;
    display: inline-block;
}





