// variables
$black: #000;
$primary: rgb(9, 9, 88);
$secondary : rgb(38, 49, 51);
$info: rgb(206, 219, 240);
$carousel-caption-width:  100%;
$carousel-control-opacity:  0.6 ;


// $sizes: (70 : 70%,);

$spacer: 1rem;
$spacers: (
 6: ($spacer * 6),
 7: ($spacer * 12)
);


$navbar-light-active-color: $black;
$navbar-light-hover-color: $primary;


//end of variables

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    line-height: 1.625em;
}

.active1 {
    border-bottom: solid 2px $primary;
    padding-bottom: 5px;
}


.bg-opacity {
    opacity: 0.7;
}


// Header
.position-heading{
    text-shadow: 1px 1px #fff;
}

.heightimg {
    max-height: 100vh;
}

.downbtn {
    margin-top: -15vh;
    margin-left: 48%;
    z-index: 2;
}

.carousel-caption{
    margin-top: 30vh !important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .downbtn {
        display: none;
    }
    

}

@media (min-width: 768px) and (max-width: 1024px) {
    .downbtn {
        margin-top: -10vh;
    }

}


//  Carousel

.carousel {
    a {
        height: 100vh !important;
    }

}

@media (min-width: 576px) {
    .carousel-caption{
        margin-bottom: 200px;
    }
}


@media (max-width: 414px) {
    .position-heading{
        margin-top: 40vh !important;
    }
}

@media (min-width: 768px) { 
    .carousel-caption{
        margin-bottom: 200px;
    }
 }

@media (min-width: 1200px) { 
    .carousel-caption{
        margin-bottom: 400px;
    }
}




// End of Header

// Section 1

.section-gap {
    padding: 120px 0;
}

.pb-50 {
    padding-bottom: 50px;
}

h1 {
    font-size: 36px;
    font-family: 'Quicksand', sans-serif;
}

.single-service {
    text-align: center;
    border: 1px solid $info;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    padding: 20px;
}

@media (max-width: 375px) {
    .single-service {
        margin: 10px;
    }
    
}

.single-service:hover {
    background-color: $secondary;
    border-color: $secondary;
}

@media (max-width: 1440px) {
    .single-service {
        padding: 22px;
    }
}


a {
    a:focus {
        text-decoration: none;
        outline: 0;
    }

    a:hover {
        text-decoration: none;
        outline: 0;
    }
}

a {
    transition: all 0.3s ease 0s;
}

.single-service {
    h4 {
        margin-bottom: 20px;
    }
}

h4 {
    font-size: 18px;
}

.single-service {
    p {
        margin-bottom: 0;
        text-align: center;
    }
}

.single-service:hover {
    h4 {
        color: $info;
    }
}

.single-service:hover {
    p {
        color: $info;
    }
}

// End of Section 1

// Section 2


// End of Section 2

// Section 3


