// Header
.position-heading {
    text-shadow: 0.8px 0.8px $secondary;
}

.heightimg {
    max-height: 100vh;
}

.downbtn {
    margin-top: -15vh;
    margin-left: 48%;
    z-index: 2;
    /*
    display: none;
    @include media-breakpoint-up(sm) {
        margin-top: -10vh;
        display: block;
    }
    */

    
}

.tracking-in-expand {
	animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

.tracking-in-expand-fwd-top {
	animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
}


.carousel-caption {
    margin-top: 30vh !important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .downbtn {
        display: none;
    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    .downbtn {
        margin-top: -10vh;
    }

}


//  Carousel

.carousel {
    a {
        height: 100vh !important;
    }

}

@media (min-width: 576px) {
    .carousel-caption {
        margin-bottom: 200px;
    }
}


@media (max-width: 414px) {
    .position-heading {
        margin-top: 40vh !important;
    }
}

@media (min-width: 768px) {
    .carousel-caption {
        margin-bottom: 200px;
    }
}

@media (min-width: 1200px) {
    .carousel-caption {
        margin-bottom: 400px;
    }
}

// End of Header