// Header



.downbtn {
    margin-top: -15vh;
    margin-left: 48%;
    z-index: 2;
    /*
    display: none;
    @include media-breakpoint-up(sm) {
        margin-top: -10vh;
        display: block;
    }
    */

    
}

.carousel-item{
    img{
        background-size: left;
        display: block;
        overflow: hidden;
        position: absolute;
        height: 100vh;
        width: auto !important;
        transition: transform .2s ease-in-out;
    }

    .position-heading {
        text-shadow: 0.8px 0.8px $secondary;
        top: 33%;
        z-index: 2;
        padding: 43vh 0;
    }
}

@include media-breakpoint-up(lg) { 
    .carousel-item{
        img{
            background-size: left;
            display: block;
            overflow: hidden;
            position: absolute;
            height: 100%;
            width: 100% !important;
            transition: transform .2s ease-in-out;
        }
    
       
    }

 }

 @media (max-width: 1024px) { 
    .carousel-item{
        img{
            background-size: left;
            display: block;
            overflow: hidden;
            position: absolute;
            height: 100%;
            width: auto!important;
            transition: transform .2s ease-in-out;
        }
    
       
    }

 }

.tracking-in-expand {
	animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

.tracking-in-expand-fwd-top {
	animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
}


.carousel-caption {
    margin-top: 30vh !important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .downbtn {
        display: none;
    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    .downbtn {
        margin-top: -10vh;
    }

}


//  Carousel

.carousel {
    a {
        height: 100vh !important;
    }

}



.naslov {
    font-size: 20pt;
    font-weight: bolder;
    letter-spacing: 4px;
    margin-bottom: 0;
    color: $white;
    font-family: 'Roboto' , sans-serif;
}

.podnaslov {
    font-size: 10pt;
    letter-spacing: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: $white;
    font-family: 'Quicksand' , sans-serif;
}



@media (min-width: 576px) { 
    .naslov {
        font-size: 48pt;
        font-weight: bolder;
        letter-spacing: 4px;
        margin-bottom: 0;
        color: $white;
        font-family: 'Roboto' , sans-serif;
    }

    .podnaslov {
        font-size: 16pt;
        letter-spacing: 25px;
        padding-left: 20px;
        padding-bottom: 10px;
        color: $white;
        font-family: 'Quicksand' , sans-serif;
    }

}

.active {
    border-bottom: solid 2px $info !important;
}

// End of Header