.header-top{
    font-size: 12px;
    a{
      color:$info;
    }
    ul li{
      display:inline-block;
      margin-left: 15px;
}
}

@media (min-width: 320px) and (max-width: 480px) {
    .nav-menu {
        display: none;
    }
    .width{
        width: 20%;
        margin-top: -5px;
    }
}



.nav-item:hover {
    @extend .active ;
}


.bg-opacity {
    opacity: 0.9;
}



#to-top-btn {
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 15px;
    right: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}

.btn-primary , .btn-primary:hover{
    color: $success;
}




