// Section 1 (Portfolio)

.section-gap {
    // background: url(../images/pozadina.jpg) no-repeat center right;
    // background-repeat: cover;
    // width: 100%;
    padding: 100px 0;
}

.line{
    width: 110px;
    height: 10px;
    background-color: $success;
    border-radius: 10px;

}

.bounce {
    animation: bounce-top 2s both;
}


@keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }




.single-service {
    text-align: center;
    border: 1px solid $info;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    padding: 20px;
}


@media (max-width: 375px) {
    .single-service {
        margin: 10px;
    }

}

.single-service:hover {
    background-color: $secondary;
    border-color: $secondary;
}

@media (max-width: 1440px) {
    .single-service {
        padding: 22px;
    }

}


.a-transition {
    transition: all 0.3s ease 0s;
}

.single-service {
    h4 {
        margin-bottom: 20px;
    }
}


.single-service {
    p {
        margin-bottom: 0;
        text-align: center;
    }
}

.single-service:hover {
    h4 {
        color: $info;
    }
}

.single-service:hover {
    p {
        color: $info;
    }
}


// End of Section 1 (Portfolio)



// Section About
@media (min-width: 992px) {
    .arch-img {
        position: absolute;
    }
}


// Section Contact

.form-group {
    input {
        width: 100%;
        background: none;
        border: none;
        border-bottom: solid 3px $info;
        color: $info;
        margin-top: 22px;

        &:active {
            background: none;
            border: none;
            border-bottom: solid 3px $info;
            color: $info;
        }
    }

    textarea {
        width: 100%;
        height: 131px;
        background: none;
        border: none;
        border-bottom: solid 3px $info;
        color: $info;
        margin-top: 22px;

        &:active {
            background: none;
            border: none;
            border-bottom: solid 3px $info;
            color: $info;
        }
    }
}

// Footer

.border-right{
    border-right: 1px solid $info;
    height: 100%;
}

